<!DOCTYPE html>
<html>
<head>
<settings th:replace="plantillasBase/plantillaBase :: set"></settings>
<title>Clinican - Registrarse</title>
</head>
<body id="page-top">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top"
		id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">Clinican</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu <i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="/">Atras</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Signup-->
	<section class="signup-section" id="signup">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-lg-8 mx-auto text-center">
					<i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
					<h2 class="text-white mb-5">Introduce los datos para
						registrarte</h2>
					<form th:action="@{/auth/nuevoCliente}" th:object="${cliente}"
						method="post">
						<input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
							type="text" th:field="*{nombre}" id="nombre"
							placeholder="Introduce nombre" /> <br> <input
							class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
							type="text" th:field="*{apellidos}" id="apellidos"
							placeholder="Introduce apellidos" /> <br> <input
							class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
							type="text" th:field="*{telefono}" id="telefono"
							placeholder="Introduce telefono" /> <br> <input
							class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
							type="text" th:field="*{username}" id="username"
							placeholder="Introduce nombre usuario" /> <br> <input
							class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
							type="text" th:field="*{password}" id="password"
							placeholder="Introduce contrasena" /> <br>
						<button class="btn btn-primary mx-auto" type="submit">Registrarse</button>
						<br>
					</form>
				</div>
			</div>
		</div>
	</section>
	<footerSection
		th:replace="plantillasBase/plantillaBase :: footerSection"></footerSection>
</body>
</html>