<formulario th:fragment="formulario"> <input
	class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" type="text"
	th:field="*{nombre}" id="nombre" placeholder="Introduce nombre" /> <br>
<input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
	type="text" th:field="*{apellidos}" id="apellidos"
	placeholder="Introduce apellidos" /> <br>
<input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
	type="text" th:field="*{telefono}" id="telefono"
	placeholder="Introduce telefono" /> <br>
<input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
	type="text" th:field="*{username}" id="username"
	placeholder="Introduce nombre usuario" /> <br>
<input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
	type="text" th:field="*{password}" id="password"
	placeholder="Introduce contrasena" /> <br>
</formulario>